// Place all the styles related to the phones controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.productList-wrap {
  width: 1220px;
}
.productList {
  margin-bottom: 0;

}
.productList-item {
    float: left;
  width: 230px;
  height: 350px;
  background: #fff;
  margin-right: 12px;
  margin-bottom: 12px;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.09);
  position: relative;
  top: 0;
  -webkit-transition: all .4s;
  transition: all .4s;
  &:hover {
    position: relative;
    top: -5px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.15);
  }
  img {
    width: 200px;
    height: 200px;
  }
}
.productList-lastItem {
  margin-right: 0;
}
.productList-item-name {
  color: #333;
}
.productList-item-desc {
  color: #808080;
}

/*footer*/
.footer-nav {
  background: #201f21;
  padding: 35px 0 20px 0;
  .columns {
    max-width: 980px;
    margin: 0 auto;
    .column {
      width: 70px;
      line-height: 200%;
      margin: 0 0 10px 25px;
    }
    .colum-right {
      float: right;
      width: 200px;
      li {
        padding: 0;
        display: block;
        white-space: nowrap;
      }
      .icon-gamepad {
        display: inline-block;
        height: 50px;
        font-size: 0;
        margin-right: 50px;
      }
      h3 {
        color: #fff;
        opacity: .5;
        margin-top: 0;
        font-size: 24px;
      }
      h4 {
        .fa {
          font-size: 18px;
          margin-right: 10px;
        }
      }
      .a-icon {
        display: inline-block;
        width: 28px;
        height: 28px;
        border: 1px #92a0a9 solid;
        border-radius: 40px;
        text-align: center;
        font-size: 14px;
        box-sizing: border-box;
        padding-top: 0;
        margin-right: 10px;
        cursor: pointer;
        vertical-align: middle;
        margin-top: 10px;
        .fa {
          display: block;
          margin-top: 6px;
          color: #92a0a9;
        }
      }
      .a-weixin {
        position: relative;
        display: inline-block;
      }
    }
    li {
      h2 {
        font-size: 16px;
        color: #fff;
        font-weight: 700;
        margin-bottom: 22px;
        opacity: .5;
      }
      a {
        color: #fff;
        opacity: .5;
        white-space: nowrap;
        line-height: 36px;
      }
    }
  }
}
