<div id="sidebar" class="sidebar f12 mt30">
  <ul>
    <li class="backtop"><i class="fa fa-arrow-circle-up"></i></li>
    <li class="support">
      <i class="fa fa-thumbs-o-up"></i>
      <div class="ewm">
        <p>
          觉得不错嘛？<br>
          来，动动小手<br>
          <a href="#" target="_blank" class="col-red">帮我们投个票</a><br>
          谢谢^_^
        </p>
      </div>
    </li>
  </ul>
</div>

  <footer class="footer">
	<p>关于我们  商务合作  诚聘英才  友情链接</p>
	<p>
    <span class="logo-text">Copyright ©2017 SR Electronics</span>
    <span class="icp-center">Designed by 申林 & 任文青</span>
	</p>
</footer>
