<!-- <footer class="container" style="margin-top: 100px;">
  <p class="text-center">Copyright @2017 Rails101
    <br/>Design by Renwq8
  </p>
</footer> -->

<footer class="container-fluid" class="site-footer col-md-12 col-md-offset-0">

    <div class="foot">
      <div >
        <p class="text-center">
          Copyright ©2017  SR Electronics, Designed by SR Inc.
        </p>
      </div>
    </div>

  </footer>
