<nav class="navbar navbar-default">
  <div class="container-fluid">

    <ul class="nav navbar-nav">

      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
      <li><a href="/phones">手机</a></li>
      <li><a href="/tvs">电视</a></li>
      <li><a href="/headsets">耳机／音箱</a></li>
      <li><a href="/kes">背壳／保护套</a></li>
      <li><a href="/others">其他周边</a></li>
    </ul>

        </div>


</nav>
